<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" class="logo">
            <div>
                <input type="text" placeholder="Busca aquí">
                <button><i class="fas fa-search"></i></button>
            </div>

            <h2 class="copy-header"> 
                <i class="fas fa-hand-holding-usd"></i> 
                Compra en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="">Ingresar <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <div class="button-container">
            <button class="bars-menu">
                <i class="fas fa-bars"></i>
            </button>
        </div>

    </header>

    <!-- Formulario -->
    <form action="/crear-producto" method="POST" class="create-form"> 
        <div class="control-formulario">
            <label>Nombre del producto:</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-formulario">
            <label>Precio:</label>
            <input type="text" name="precio" placeholder="000.00" class="control">
        </div>
        <div class="control-formulario">
            <label>Categoría:</label>
            <select name="categoria" class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Ciudad:</label>
            <select name="ciudad" class="control">
                <option value="buenosAires">Buenos Aires</option>
                <option value="rosario">Rosario</option>
                <option value="mendoza">Mendoza</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Descripción</label>
            <textarea name="descripcionDelProducto" class="control"></textarea>
        </div>
        <div class="control-formulario">
            <label>Está en oferta:</label>
            <input type="radio" name="enOferta">
        </div>
        <button type="reset" class="form-button">Borrar</button>
        <button type="submit" class="form-button">Guardar</button>
    </form>

    <section>
        <img src="/images/img-home-banner.jpg" width="360" alt="home banner">
    </section>

    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <div class="product">
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="cafetera">
                <p>$ 6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
            </div>
            <div class="product">
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Macbook pro">
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </div>
            <div class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy">
                <p>$ 70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </div>
            <div class="product">
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung 43">
                <p>$ 23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </div>
        </section>
        <section>
            <h3>Ofertas</h3>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="cafetera">
                <p>$ 6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="Macbook pro">
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy">
                <p>$ 70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung 43">
                <p>$ 23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </div>
        </section>


    </main>
    <footer>

        <section>
            <div class="footer-icon"> <i class="fas fa-credit-card"></i> </div>
            <div>
                <h4>Pagá con tarjeta o en efectivo</h4>
            </div>
            <div>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </div>
        </section>
        <section>
            <div class="footer-icon"> <i class="fas fa-gift"></i> </div>
            <div>
                <h4>Envío gratis desde $ 2.500</h4>
            </div>
            <div>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </div>
        </section>
        <section>
            <div class="footer-icon"><i class="fas fa-user-shield"></i></div>
            <div>
                <h4>Seguridad, de principio a fin</h4>
            </div>
            <div>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </section>
        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>

    </footer>
</body>

</html>

